@media (max-width: 420px){



/*//////////////////////*/

.pane {
  position:relative;
  top:0px;
  margin:auto;
  height:100%;
  padding:20px;
}




/*//////////////////////*/

.footer{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  margin:auto;
}



/*//////////////////////*/

.screenshot { display:none; }





/*//////////////////////*/






}
