@media (min-width: 420px){

header{
  position:relative;
  bottom:65px;
}

.name{
  width: 300px;
  height: 70px;
  display:block;
  background:#f44242;
  border-top:3px solid white;
  margin:auto;
  line-height: 65px;
}
}
/*//////////////////////////*/


.description{
  align-self:flex-end;
  position: -webkit-sticky;
  position:sticky;
  bottom:20px;
  border: 1px solid white;
  border-radius: 3px;
  color:white;
  padding: 10px;
  font-size: 16px;
  text-align:justify;
}


body{
  font-family:'Fira Sans';
  padding:0;
  margin:0;
  background:white;
}



html,body{
  height:100%;
  width:100%;
}



html{
  padding:0;
  margin:0;
  min-width:322px;
}
a{
  text-decoration:none;
  display:block
}
p{ text-align:justify; }
img{ width:100%; }
*{ box-sizing: border-box; }

h1{
  margin:0;
  padding:0;
  font-family:'Open Sans';
  text-transform:uppercase;
  text-align:center;
  margin-bottom:10px;
  font-size: 31px;
}

ul, li{
  list-style: none;
  padding: 0;
}


.pane{
  padding:20px;
  height: 100%;
  display:flex;
}

/*/////////////////////////*/
.feature{
  height: 100%;
  position:relative;
}

.full{
  background-size: fill;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.mobile{
  background-attachment:scroll;
  height: 800px;
  background-size: auto 100%;
}


/*/////////////////////////*/


.center { text-align:center }


.dramamine .button { color:#7ec0ee }
.chess .button { color: #c9c3c3 }
.perlin .button { color: black }
.noteworthy .button { color: #2dbe60; }

.button{
  width: 200px;
  background:white;
  font-family: 'Open Sans';
  margin:auto;

  color:black;
  text-align: center;
  padding:10px;

  text-transform:uppercase;
  border-radius:4px;
  cursor: pointer;
}


.line{
  width: 200px;
  height: 1px;
  border-bottom: 1px solid white;
  margin:auto;
}
.long{
  width:400px;
}



.footer .button{
  margin:10px auto;
  color: #f44242
}








.dramamine{
  background-image: url('./images/dramamine.png');
  background-color: #7ec0ee;
}


.perlin{
  background-image: url('./images/Perlin.png');
  background-color: black;
}

.noteworthy{
  background: #2dbe60;
}

.chess{
  background-image: url('./images/chesspieces.jpg');
  background-size:cover;
}






/*////////////////////////////////////*/

@media (min-width: 420px){


.intro{
  width:100%;
  position:relative;
  padding-top: 20px;
  height:520px;
}

.headshot img{
  height:300px;
  border-radius:300px;
}

.headshot{
  width:300px;
  margin:auto;
}

.description{
  font-size:20px;
}

.pane{
  width: 380px;
  height:100%;
  position: absolute;
}

.right{
  position:absolute;
  right:0px;
}



h1{
  font-family: 'Open Sans';
  padding: 0;
  margin: 0;
  text-align:center;
  font-size:35px;
  text-transform:uppercase;
  margin-bottom:10px;
}




.footer{
  display:flex;
  justify-content:space-between;
  max-width: 700px;
  margin:auto;
}
}

@media only screen and (max-width: 750px) and (min-width:420px) {

    .footer{
      flex-direction:column;
      width:220px;
    }

    .footer a{
      margin: 10px;
    }

    .pane {
      position:relative;
      top:0px;
      margin:auto;
    }

}



.closing, .intro { background: #f44242; z-index:-1}
.intro, .closing { height: auto}
.closing .description, .intro .description { border: none; position:relative; top:0px }
