body{
  font-family:'Fira Sans';
  padding:0;
  margin:0
}
html{
  padding:0;
  margin:0
}
a{
  text-decoration:none;
  display:block
}
p{ text-align:justify; }
img{ width:100%; }
*{ box-sizing: border-box; }

h1{
  margin:0;
  padding:0;
  font-family:'Open Sans';
  text-transform:uppercase;
  text-align:center;
  margin-bottom:10px;
  font-size: 31px;
}

ul, li{
  list-style: none;
  padding: 0;
}


.pane{
  padding:20px;
}

.feature{
  height: 700px;
  position:relative;
}

.center { text-align:center; }


.dramamine .button { color:#7ec0ee }
.chess .button { color: #c9c3c3 }
.perlin .button { color: black }
.noteworthy .button { color: #2dbe60; }

.button{
  width: 200px;
  background:white;
  font-family: 'Open Sans';
  margin:auto;

  color:black;
  text-align: center;
  padding:10px;

  text-transform:uppercase;
  border-radius:4px;
  cursor: pointer;
}


.line{
  width: 200px;
  height: 1px;
  border-bottom: 1px solid white;
  margin:auto;
}


.footer .button{
  margin:10px auto;
  color: #f44242
}

.intro, .closing { height: auto}
.closing .description, .intro .description { border: none; }


.full{
  background-size: fill;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
}


/*////////////////////////////////////*/

@media (min-width: 420px){


.intro{
  width:100%;
  position:relative;
  padding-top: 20px;
  height:520px;
}

.headshot img{
  height:300px;
  border-radius:300px;
  border: 5px solid white;
}

.headshot{
  width:300px;
  margin:auto;
}


.dramamine{
  background-image: url('./images/dramamine.png');
  background-color: #7ec0ee;
}


.perlin{
  background-image: url('./images/Perlin.png');
  background-color: black;
}

.chess{
  background-image: url('./images/chesspieces.jpg')
}

.noteworthy{
  background: #2dbe60;
}


.pane{
  width: 380px;
  height:100%;
  position: absolute;
}


/*/////////////////////////////*/

.noteworthy{
  width: 100%;
}
.screenshot-holder{
  margin:0;
  width:100%;
  position:sticky;
  top: 20px;
  display:flex;
  justify-content:flex-start;
}

.screenshot-holder .description{
  position:inherit;
  width:340px;
  margin: 0;
  flex-shrink:0;
  height:430px;
}

.screenshot{
  margin-left: 20px;
}
.bottom{
  position:absolute;
  bottom:0px;
}

img{
  height:auto;
  max-width:100%;
  border-radius:6px;
}

.nw{
  background-image:url('./images/noteWorthy.png');
}

.ch{
  background-image:url('./images/consoleChess.png');
}
/*/////////////////////////////*/

.right{
  position:absolute;
  right:0px;
}

.description{
  position:sticky;
  top:20px;
  border: 1px solid white;
  border-radius: 3px;
  color:white;
  padding: 10px;
  font-size: 20px;
  text-align:justify;
}


h1{
  font-family: 'Open Sans';
  padding: 0;
  margin: 0;
  text-align:center;
  font-size:35px;
  text-transform:uppercase;
  margin-bottom:10px;
}




.footer{
  display:flex;
  justify-content:space-between;
  max-width: 700px;
  margin:auto;
}


@media only screen and (max-width: 750px) and (min-width:420px) {
    .closing{
      height: 350px;
    }

    .description{
      margin-top:0px;
    }

    .feature{
      padding-top:20px;
    }

    .screenshot{
      display:none;
    }

    .screenshot-holder .description{
      margin: 0 auto;
    }

    .screenshot-holder {
      flex-direction:column;
    }

    .footer{
      flex-direction:column;
      width:220px;
    }

    .footer a{
      margin: 10px;
    }

    .pane {
      position:relative;
      top:0px;
      margin:auto;
    }

    .intro {
      height:800px;
    }
}

}

.closing, .intro { background: #f44242; }
